/* HomePage Styling */
.Home {
    background-color: #f5f6fa;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
  }
  
  .Home h1 {
    font-size: 2rem;
    color: #242a3d;
    margin-bottom: 10px;
  }
  
  .Home p {
    font-size: 1.1rem;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  .ViewPostsButton {
    font-size: 0.9rem; 
    align-self: center;
    border-radius: 100px; 
    border: 1px solid transparent; 
    padding: 8px 16px; 
    margin: 4px; 
    min-width: 100px; 
    color: #ffffff; 
    background-color: #4caf50; 
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    z-index: 10;
  }
  
  .ViewPostsButton:hover {
    background-color: #388e3c; 
    opacity: 0.9; 
    cursor: pointer;
  }

  .SignUpLink {
    color: #4caf50;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .SignUpLink:hover {
    color: #388e3c;
    text-decoration: underline;
  }